/* styles.css */
.search-plant {
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 5px;
    width: 300px;
    margin: 0 auto;
    cursor: pointer;
    margin-top: 2rem;

  }
  
  .search-icon {
    margin-right: 8px;
    font-size: 1.2em;
    color: #888;
  }
  
  .search-input {
    flex-grow: 1;
    border: none;
    outline: none;
    font-size: 1em;
    
  }
  
  .search-input::placeholder {
    color: #bbb;
  }
  .leaf-icon{
    display: flex;
    justify-content: flex-end;
  }
  .leaf-icon{
    width: 32.24px;
    height: 25px;


  }